.about_title{
    justify-content: center;
    display: flex;
 }
 
 .about_list{
     
     list-style: none;
     padding: 0;
     
 }
 

.footericons {
    text-align: center;
    font-size: 1rem;
    color: #59564A;
}
