.rappers{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 6%;
    padding: 0;
}

.migos{
    margin-top: 2%;
    margin-bottom: 2%;
    
}

.thug{
    margin-top: 2%;
    margin-bottom: 2%;
}

.future{
    margin-top: 2%;
    margin-bottom: 2%;
}

.ourfinest{
    text-align: center;
    margin-top: 5%;
    font-size: 30px;
    color: #F0DD96;
}

.encourage{
   text-align: center;
    width: 300px;
    height: 200px;
    font-size: 25px;
    
   
}

.yeat{
    display: flex;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 3%;

}

.yeatvideo{
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
    
    
}
 