.storeheader{
    text-align: center;
    color: #F0DD96;
    font-size: 3rem;
    margin-top: 5%;
    box-sizing: border-box;
}

.miamistore{
    
    
    
    margin: 10%;
    box-sizing: border-box;
    
    
}
.store{
    width: 600px;
}
.mapa{
    display: flex;
    justify-content: center;
    margin-top: 5%;

   
}
.videoheader{
    text-align: center;
    font-size: large;
    color: #F0DD96;
    font-size: 30;
    margin: 3%;
}


.videoiframe{
    display: flex;
    justify-content: center;
}

.mapdirection{
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
}

.locales{
    display: flex;
    justify-content: space-evenly;
    margin: 5%;
}

.alsolocated{
    text-align: center;
    font-size: 30px;
    margin-top: 5%;
    color: #F0DD96;
}
